<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       default-autowire="byName">

    <!--开启默认的handler是tomcat在找不资源时会找静态内容-->
    <mvc:default-servlet-handler/>
    <!--开启标签驱动-->
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.wan.synthesize.web.action,com.wan.synthesize.service">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html; charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
    <mvc:interceptors>
        <!--定义在这的bean是对所以请求拦截-->

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--定义在这的bean是对特定的请求拦截-->
            <mvc:exclude-mapping path="/login.html"/>
            <mvc:exclude-mapping path="/index.action"/>
            <mvc:exclude-mapping path="/login.action"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/favicon.ico"/>
            <bean class="com.wan.synthesize.web.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!-- <mvc:message-converters>
        <bean class="com.customer.app.common.UTF8StringHttpMessageConverter"/>
        <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
        <bean id="jacksonMessageConverter"
              class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
            <property name="supportedMediaTypes">
                <list>
                    <value>text/html;charset=utf-8</value>
                    <value>text/plain;charset=utf-8</value>
                    <value>text/json;charset=utf-8</value>
                    <value>application/json;charset=utf-8</value>
                </list>
            </property>
        </bean>
    </mvc:message-converters>
</mvc:annotation-driven> -->

    <bean id="internalViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="prefix" value="/" />
        <property name="suffix" value=".html" />
        <property name="order" value="2" />
    </bean>

    <!--  <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
          <property name="resourceLoaderPath" value="/WEB-INF/vm"/>
          <property name="velocityProperties" value="classpath:velocity.properties" />
      </bean>
      <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
          <property name="cache" value="true"/>
          <property name="prefix" value=""/>
          <property name="suffix" value=".vm"/>
          <property name="order" value="1" />
      </bean>



    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" /> &lt;!&ndash; 默认编码 (ISO-8859-1) &ndash;&gt;
        <property name="maxInMemorySize" value="10240" /> &lt;!&ndash; 最大内存大小 (10240) &ndash;&gt;
        <property name="uploadTempDir" value="../webapp" /> &lt;!&ndash; 上传后的目录名 (WebUtils#TEMP_DIR_CONTEXT_ATTRIBUTE) &ndash;&gt;
        <property name="maxUploadSize" value="31457280" /> &lt;!&ndash; 最大文件大小，-1为无限止(-1) &ndash;&gt;
    </bean>-->

</beans>